<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<center><a style="font-size:600%"><font color="white">EQUIPOS</font></a></center>
<p style="font-size:400%"></p>

<center><table class="default" border="4" WIDTH="800">
  <tr>
    <th><font color="white">Escudo</font></th>
    <th><font color="white">Nombre</font></th>
    <th><font color="white">Número de jugadores</font></th>
    <th><font color="white">Goles marcados</font></th>
    <th><font color="white">Goles encajados</font></th>
    <th><font color="white">Partidos ganados</font></th>
    <th><font color="white">Partidos perdidos</font></th>
    <th><font color="white">Partidos empatados</font></th>
    <th><font color="white">Puntos</font></th>
  </tr>
  
  {{#EQ}} 
    <tr>
    <td><img src="http://elmiradorespagnol.free.fr/futbol/original/Real%20Madrid.png" alt="" width="99" height="133"></img></td>
    <td><center><font color="white">{{Nombre}}</font></center></td>
    <td><center><font color="white">{{Num_Jugadores}}</font></center></td>
    <td><center><font color="white">{{Goles_Marcados}}</font></center></td>
    <td><center><font color="white">{{Goles_Encajados}}</font></center></td>
    <td><center><font color="white">{{Partidos_Ganados}}</font></center></td>
    <td><center><font color="white">{{Partidos_Perdidos}}</font></center></td>
    <td><center><font color="white">{{Partidos_Empatados}}</font></center></td>
    <td><center><font color="white">{{Puntos}}</font></center></td>
    </tr>  
  {{/EQ}}
</table></center>

<p style="font-size:600%"></p>
<a align="left" href="/"><input type='submit' value='Volver'/></a>
<a><font color="white"> &nbsp Contacto: </font></a>
<a><font color="white"> &nbsp c.tamaral.2018@alumnos.urjc.es</font></a>
<a align="right"><font color="white"> &nbsp a.martinmar.2018@alumnos.urjc.es</font></a>

</body>
</html>