<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<p style="font-size:1000%">  &nbsp</p>

<p><font color="green" style="font-size:100%"><center> Comentario publicado. Pulse el botón Cerrar sesión y salir del foro para finalizar. </center></font></p>

<p style="font-size:200%"></p>

<center>
<a align="left" href="/"><input type='submit' value='Cerrar sesión y salir del foro'/></a> 
</center>

</body>
</html>