<html>
<body>

<p> Nombre: REAL MADRID FC. </p>
<p> Escudo: </p>
<img src="http://elmiradorespagnol.free.fr/futbol/original/Real%20Madrid.png"></img> 
<p> Número de jugadores: 23 </p>
<p> Goles metidos: 50 </p>
<p> Goles encajados: 20 </p>
<p> Partidos ganados: 23 </P>
<P> Partidos perdidos: 3 </p>
<p> Partidos empatados: 2 </p>
<p> Puntos: 67 </p>

<a href="/Equipos">Volver al menú de equipos</a>
<p></p>
<a href="/">Volver al menú principal</a>

<body>
</html>