<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<p style="font-size:1000%">  &nbsp</p>

<p><font color="red" style="font-size:100%"><center> El usuario con el apodo {{usuario}} no existe. Si desea volver a intentar iniciar sesión pulse el botón Aceptar, si no desea iniciar sesion pulse el botón Salir. </center></font></p>

<p style="font-size:200%"></p>
<center>

<a align="left" href="/Foro"><input type='submit' value='Aceptar' style='width:105px; height:37px'/></a>
<a align="left" href="/"><input type='submit' value='Salir' style='width:105px; height:37px'/></a>
</center>

</body>
</html>