<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<center><a style="font-size:600%"><font color="white">FORO</font></a></center>
<p style="font-size:400%"></p>

<center><table class="default" border="4" WIDTH="800">
  <tr>
    <th><font color="white">Apodo</font></th>
    <th><font color="white">Mensaje</font></th>
    <th><font color="white">Fecha</font></th>
  </tr>
  
  {{#mensajes}} 
    <tr>
    <td><center><font color="white">{{Apodo}} :</font></center></td>
    <td><center><font color="white">{{Texto}}</font></center></td>
    <td><center><font color="white">{{Fecha}}</font></center></td> 
    </tr>  
  {{/mensajes}}
</table></center>

<p style="font-size:200%"></p>

<center><form action="IniciarSesionForo/Actualizada" method="post">
   <a><font color="white"> Añadir comentario: </font></a>
   <input type = 'text' name = 'mensaje' style='width:600px; height:60px'required> 
   <p></p>
   <a><font color="white"> Comentario firmado con su apodo: </font></a>
   <input type='checkbox' value='{{usuario.Apodo}}' name='apodo' required>
   <p></p>
   <input type = 'submit' value = 'Enviar'>
</form></center>

<p style="font-size:600%"></p>
<a align="left" href="/"><input type='submit' value='Cerrar sesión y salir del foro'/></a>
<a><font color="white"> &nbsp Contacto: </font></a>
<a><font color="white"> &nbsp c.tamaral.2018@alumnos.urjc.es</font></a>
<a align="right"><font color="white"> &nbsp a.martinmar.2018@alumnos.urjc.es</font></a>

</body>
</html>