<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<center><a style="font-size:600%"><font color="white">Iniciar sesión</font></a></center>
<p style="font-size:400%"></p>

<center><form action="IniciarSesion/Avanzado" method="post">
   <p><font color="white"> Apodo: </font></p>
   <input type = 'text' name = 'apodo' required>  

   <p><font color="white"> Contraseña: </font></p>
   <input type = 'password' name = 'contraseña' required>  
    
   <input type = 'submit' value = 'Enviar'>
   
</center></form>

<p style="font-size:600%"></p>
<a href="/"><input type='submit' value='Volver al menú principal'/></a>
<a href="/Usuario"><input type='submit' value='Volver'/></a>
<a><font color="white"> &nbsp Contacto: </font></a>
<a><font color="white"> &nbsp c.tamaral.2018@alumnos.urjc.es</font></a>
<a align="right"><font color="white"> &nbsp a.martinmar.2018@alumnos.urjc.es</font></a>

</body>
</html>