<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<center><a style="font-size:600%"><font color="white">EQUIPOS</font></a></center>
<p style="font-size:400%"></p>

{{#EQ}} 
  <tr>
  <center><form action="Jugadores/Avanzado" method="post">
     <input type='submit' value='{{Nombre}}' name='userName' style='width:210px; height:75px' />
  </form></center>
  <p></p>
  </tr>  
{{/EQ}}
 
<p style="font-size:600%"></p>
<a align="left" href="/"><input type='submit' value='Volver'/></a>
<a><font color="white"> &nbsp Contacto: </font></a>
<a><font color="white"> &nbsp c.tamaral.2018@alumnos.urjc.es</font></a>
<a align="right"><font color="white"> &nbsp a.martinmar.2018@alumnos.urjc.es</font></a>

</body>
</html>