<html>
<body>

<p> El Real Madrid gana al Atalanta por 1-0. </p>

<p> El Atletico de Madrid pierde contra el Chelsea 0-1. </p>

<p> El Sevilla FC pierde contra el Borussia Dortmund por 2-3. </p>

<p> El FC Barcelona pierde contra el PSG por 4-1. </p>

<a href="/">Volver</a>

<body>
</html>