<html>
<body background="https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg"/>

<p style="font-size:1000%">  &nbsp</p>

<p><font color="green" style="font-size:100%"><center> El usuario sido eliminado. Pulse aceptar para fializar. </center></font></p>

<p style="font-size:200%"></p>
<center>

<a align="left" href="/"><input type='submit' value='Aceptar' style='width:105px; height:37px'/></a>
</center>

</body>
</html>